worker_processes  1;
pid {{ nginx.pid }};
error_log {{ nginx.logs }}/error.log;

events {
    worker_connections  1024;
}

http {
    include       {{ nginx.etc }}/nginx/mime.types;
    access_log {{ nginx.logs }}/access.log;

    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    server {
        listen {{ nginx.master }};
        server_name localhost;

        location /requests/ {
            proxy_pass http://localhost:{{ nginx.api }}/requests/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /git/ {
            alias {{ git.repos }};

            include {{ nginx.etc }}/nginx/fastcgi_params;

            fastcgi_pass  unix:{{ nginx.fcgi }};
            fastcgi_param SCRIPT_FILENAME  {{ git.backend }};
            fastcgi_param GIT_PROJECT_ROOT {{ git.repos }};
            set $path_info $uri;
            if ($uri ~ ^/git(/.*)) {
                set $path_info $1;
            }
            fastcgi_param PATH_INFO $path_info;

            fastcgi_param REMOTE_USER      $remote_user;
            fastcgi_param HTTP_AUTHORIZATION $http_authorization;
        }
    }
}
