EGI_CHECKIN_ENV: {{ api.environment }}
CLIENT_ID: {{ oauth2.client_id }}
CLIENT_SECRET: {{ oauth2.client_secret }}
REDIRECT_URI: https://{{ inventory_hostname }}/docs
CERT_CHAIN_FILE: {{ nginx.cert }}/fullchain.pem
PRIVATE_KEY_FILE: {{ nginx.cert }}/privkey.pem