worker_processes  1;
pid {{nginx.pid}};
error_log {{nginx.logs}}/{{nginx.prefix}}/error.log;

events {
    worker_connections  1024;
}

http {
    include       {{ nginx.etc }}/{{nginx.prefix}}/mime.types;
    access_log {{nginx.logs}}/{{nginx.prefix}}/access.log;

    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

     map $http_origin $cors_origin {
        default "";
        # Local development origins
        "~^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$" $http_origin;
        "~^https?://localhost$" $http_origin;
        "~^https?://127\.0\.0\.1$" $http_origin;
        "~^http?://(localhost|127\.0\.0\.1)(:[0-9]+)?$" $http_origin;
        "~^http?://localhost$" $http_origin;
        "~^http?://127\.0\.0\.1$" $http_origin;
        # Development server origins
        
        "https://dev1.player.eosc-data-commons.eu" $http_origin;
        "https://dev2.player.eosc-data-commons.eu" $http_origin;
        "https://dev3.player.eosc-data-commons.eu" $http_origin;
        
        "https://dev.matchmaker.eosc-data-commons.eu" $http_origin;
    }

    server {
        listen 80;
        location /.well-known/acme-challenge/ {
            root /var/www/certbot;
        }

    }

    server {
        listen 443 ssl;
        server_name {{inventory_hostname}};

        ssl_certificate {{nginx.cert}}/fullchain.pem;
        ssl_certificate_key {{nginx.cert}}/privkey.pem;
        add_header 'Access-Control-Allow-Credentials' 'true' always;
        add_header 'Access-Control-Allow-Methods' 'GET, POST, HEAD, OPTIONS' always;
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type' always;
      

        location / {
            add_header 'Access-Control-Allow-Methods' 'GET, POST, HEAD, OPTIONS';
            add_header 'Access-Control-Allow-Origin' $cors_origin always;
            add_header 'Access-Control-Allow-Credentials' 'true' always;

            if ($request_method = 'OPTIONS') {
                add_header 'Access-Control-Allow-Credentials' 'true' always;

                add_header 'Access-Control-Allow-Origin' $cors_origin always;
                add_header 'Access-Control-Allow-Methods' 'GET, POST, HEAD, OPTIONS';
                add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
                add_header 'Access-Control-Max-Age' 57542400;
                add_header 'Content-Type' 'text/plain; charset=UTF-8';
                add_header 'Content-Length' 0;
                return 204;
            }
            proxy_pass https://web:{{api.port}}/oauth2/login;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /requests {
            add_header 'Access-Control-Allow-Origin' $cors_origin always;
            add_header 'Access-Control-Allow-Credentials' 'true' always;
            if ($request_method = 'OPTIONS') {
                add_header 'Access-Control-Allow-Credentials' 'true' always;

                add_header 'Access-Control-Allow-Origin' $cors_origin always;
                add_header 'Access-Control-Allow-Methods' 'GET, POST, HEAD, OPTIONS';
                add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
                add_header 'Access-Control-Max-Age' 57542400;
                add_header 'Content-Type' 'text/plain; charset=UTF-8';
                add_header 'Content-Length' 0;
                return 204;
            }

            proxy_pass https://web:{{api.port}}/requests;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /anon_requests {
            add_header 'Access-Control-Allow-Origin' $cors_origin always;
            
            if ($request_method = 'OPTIONS') {
                add_header 'Access-Control-Allow-Origin' $cors_origin always;
                add_header 'Access-Control-Allow-Methods' 'GET, POST, HEAD, OPTIONS';
                add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
                add_header 'Access-Control-Max-Age' 57542400;
                add_header 'Content-Type' 'text/plain; charset=UTF-8';
                add_header 'Content-Length' 0;
                return 204;
            }


            proxy_pass https://web:{{api.port}}/anon_requests;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

	    location /oauth2 {
            proxy_pass https://web:{{api.port}}/oauth2;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
        location /docs {
            proxy_pass https://web:{{api.port}}/docs;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_redirect http://web:8000/ https://{{ inventory_hostname }}/;
	}
        location /openapi.json {
            proxy_pass https://web:{{api.port}}/openapi.json;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
        location /git {
            alias /git/repos;
            include /etc/nginx/fastcgi_params;
            fastcgi_pass unix:/nginx/temp/fcgi.sock;
            fastcgi_param SCRIPT_FILENAME {{git.backend}};
            fastcgi_param GIT_HTTP_EXPORT_ALL "";
            fastcgi_param GIT_PROJECT_ROOT {{git.repos}};
            set $path_info $uri;
            if ($uri ~ ^/git(/.*)) {
                set $path_info $1;
            }
            fastcgi_param PATH_INFO $path_info;
            fastcgi_param REMOTE_USER      $remote_user;
            fastcgi_param HTTP_AUTHORIZATION $http_authorization;
        }
        location /.well-known/ {
    	    alias /etc/nginx/.well-known/;
	        add_header Content-Type application/json;
            add_header Access-Control-Allow-Origin *;
            add_header Cache-Control "public, max-age=3600";
    	}

    }
}
