{
  "enabled": true,
  "apiVersion": "1.4.0",
  "endPoint": "{{ inventory_hostname }}",
  "provider": "EOSC Data Commons Dispatcher",
  "resourceTypes": [
    {
      "name": "ro-crate",
      "shareTypes": [
        "user"
      ],
      "protocols": {
        "embedded": {}
      }
    }
  ]
}
